@font-face {
    font-family: icon;
    src: url('../fonts/ico/icomoon.eot?e900');
    src: url('../fonts/ico/icomoon.eot?e900&#xe900') format('embedded-opentype'),
         url("../fonts/ico/icomoon.ttf?e900") format('truetype'), 
         url("../fonts/ico/icomoon.woff?e900") format('woff'), 
         url("../fonts/ico/icomoon.svg?e900#icomoon") format('svg');
}

* {
    box-sizing: border-box;
}
